POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database
DB_HOST=postgres
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_USER=${POSTGRES_USER}
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

MINIO_STORAGE_ACCESS_KEY=minio
MINIO_STORAGE_SECRET_KEY=minio123


SECRET_KEY=django-insecure-v$dku=vsqrp*&9jmev409z5av&p!%ah@fv$c6x9)@wdm_g4m8)
MINIO_STORAGE_ENDPOINT=minio:9000

EMAIL_HOST_USER=example@yandex.ru
EMAIL_HOST_PASSWORD=example
DEFAULT_FROM_EMAIL=example@yandex.ru


MP_MAX_MESSAGES=5000
MP_DATA_FILE=/mailpit-data/mailpit.db
MP_SMTP_AUTH_ACCEPT_ANY=1
MP_SMTP_AUTH_ALLOW_INSECURE=1


CELERY_BROKER_URL=redis://redis:6379/2
CELERY_RESULT_BACKEND=redis://redis:6379/3


DJANGO_SUPERUSER_PASSWORD=admin2
DJANGO_SUPERUSER_USERNAME=admin2
DJANGO_SUPERUSER_EMAIL=admin2@mail.com

DEV_MAIL=True
HOST=127.0.0.1