POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database
DB_HOST=postgres
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_USER=${POSTGRES_USER}


SECRET_KEY=django-insecure-v$dku=vsqrp*&9jmev409z5av&p!%ah@fv$c6x9)@wdm_g4m8)


EMAIL_HOST_USER=example@yandex.ru
EMAIL_HOST_PASSWORD=example
DEFAULT_FROM_EMAIL=example@yandex.ru



CELERY_BROKER_URL=redis://redis:6379/2
CELERY_RESULT_BACKEND=redis://redis:6379/3


DJANGO_SUPERUSER_PASSWORD=admin2
DJANGO_SUPERUSER_USERNAME=admin2
DJANGO_SUPERUSER_EMAIL=admin2@mail.com

DEV_MAIL=True
HOST=127.0.0.1