{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Profile' %}
{% endblock %}
{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if user.avatar %}
                        <a href="{% url 'users:load_image' %}"><img src="{{ user.avatar.url }}"
                                class="rounded-circle img-fluid" style="width: 150px;"></a>
                        {% else %}
                        <a class="link-body-emphasis text-decoration-none" href="{% url 'users:load_image' %}">{% trans 'Upload image' %}</a>
                        {% endif %}
                        <h5 class="my-3">{{ user.username }}</h5>
                        <p class="text-muted mb-1">{{ user.email }}
                            {% if user.is_active_email %}
                            ✓
                            {%endif %}</p>
                        <p class="text-muted mb-4">{% trans 'Total tests complete' %}:</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Name' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.first_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Surname' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Date of Birth' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.birthday}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Date of Registration' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.date_joined }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Language' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.language }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">{% trans 'Country' %}</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.country.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}